* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proximanova opt", sans-serif;
}

/* menu */
.ana-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10vh;
}

.ana-menu .logo {
  width: 130px;
  margin-left: 13em;
}

.ana-menu .list-menu ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 5em;
}

.ana-menu .list-menu ul li {
  list-style: none;
}

.ana-menu .list-menu ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #4c4d5f;
  font-weight: 300;
}

.ana-menu .buttons {
  margin-right: 5em;
  display: flex;
}

.ana-menu .buttons .btn1 {
  background: #fff;
  width: 8em;
  height: 48px;
  text-decoration: none;
  border: 2px solid #00b289;
  border-radius: 5px;
  font-size: 14px;
}

.ana-menu .buttons .btn1 a {
  font-size: 14px;
  text-decoration: none;
  color: #00b289;
  font-weight: 600;
}

.ana-menu .buttons .btn2 {
  background: #00b289;
  width: 11em;
  height: 48px;
  text-decoration: none;
  border: 2px solid #00b289;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 1em;
}

.ana-menu .buttons .btn2 a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/* orta     font-family: 'Proximanova opt', sans-serif; */

.deg {
  border-end-start-radius: 58em;
  width: 122vh;
  height: 110vh;
  background-color: rgb(225, 236, 248);
  margin-left: 39.3em;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.orta-kisim-yazi {
  display: flex;
  position: absolute;
  top: 30%;
}

.orta-kisim-yazi .ilk-y {
  font-family: "Playfair Display", serif;
  letter-spacing: 1.9px;
  font-size: 39px;
  font-weight: 600;
  color: #4c4d5f;
  margin-left: 8em;
}

.orta-kisim-yazi .orta-ikinci-kisim {
  display: flex;
  margin-left: 15em;
}

.orta-kisim-yazi .orta-ikinci-kisim .ikinci-y {
  color: #4c4d5f;
  font-size: 17.5px;
  margin-left: -1em;
  margin-top: 1em;
  font-weight: 600;
}

.orta-kisim-yazi .orta-ikinci-kisim .tus {
  width: 80px;
  height: 33px;
  background-color: #00b289;
  margin-left: 1.5em;
  margin-top: 0.8em;
  border-radius: 18px;
}

.orta-kisim-yazi .orta-ikinci-kisim .tus2 {
  background-color: #fff;
  width: 35px;
  height: 29px;
  border-radius: 50%;
  margin-left: -4.8em;
  margin-top: 0.9em;
}

.orta-kisim-yazi .orta-ikinci-kisim .orta-ucuncu-kisim {
  margin-left: 3.7em;
  margin-top: -2.2em;
}

.orta-kisim-yazi .orta-ikinci-kisim .orta-ucuncu-kisim .ucuncu-y {
  color: #4c4d5f;
  margin-left: 2.5em;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.22px;
  text-transform: uppercase;
}

/* kart start */
.kart-start {
  display: flex;
  position: absolute;
  top: 50%;
  margin-left: 13em;
}

.kart-start .kart-1 {
  width: 350px;
  height: 900px;
  background-color: #fff;
  border: 1px solid #a2a2a2;
  box-shadow: 5px 5px 5px #a2a2a2;
  position: relative;
  margin-bottom: 5em;
}

/* ilk bölüm */

.kart-start .kart-1 .ilk_bolum {
  margin-top: 80px;
  position: absolute;
  margin-left: 2em;
  margin-right: 2em;
}

.kart-start .kart-1 .ilk_bolum .ilk-basliks {
  font-size: 27.9px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.kart-start .kart-1 .ilk_bolum .ilk_yazi {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0.7em;
}

/* ikinci bölüm */

.kart-start .kart-1 .ikinci_bolum {
  margin-top: 9em;
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  color: #4c4d5f;
}

.kart-start .kart-1 .ikinci_bolum .ikinci_basliks {
  margin-top: 2em;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-left: 1em;
}

.kart-start .kart-1 .ikinci_bolum .dolar {
  color: #4c4d5f;
  font-size: 30px;
  margin-top: 1.6em;
}

.kart-start .kart-1 .ikinci_bolum .ikinci_basliks .num {
  margin-top: 1em;
  font-size: 55px;
  margin-left: -0.3em;
  font-weight: 600;
}

.kart-start .kart-1 .yesil {
  background-color: #00b289;
  width: 270px;
  height: 3px;
  margin-left: 1.3em;
}

/* ikinci bölüm */

.kart-start .kart-1 .ucuncu_bolum {
  margin-top: 2em;
  margin-left: 1.3em;
  color: #4c4d5f;
  font-weight: 500;
}

.kart-start .kart-1 .ucuncu_bolum .ikinci_yazi {
  margin-left: 2.8em;
  margin-top: -2.9em;
  line-height: 3em;
}

.kart-start .kart-1 .ucuncu_bolum .fa {
  color: #00b289;
  margin-left: 1em;
  line-height: 3em;
}

/* buton bölümü */

.kart-start .kart-1 .buton_kart {
  margin-top: 8em;
  margin-left: 4em;
  background-color: #00b289;
  width: 200px;
  height: 50px;
  text-align: center;
}

.kart-start .kart-1 .buton_kart .buton-start {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* kart-2 bölüm */

.kart-start .kart-2 {
  width: 350px;
  height: 900px;
  background-color: #fff;
  border: 1px solid #a2a2a2;
  box-shadow: 5px 5px 5px #a2a2a2;
  position: relative;
  margin-bottom: 5em;
  margin-left: 2em;
}

/* ilk bölüm */

.kart-start .kart-2 .dördüncü_bolum {
  margin-top: 80px;
  position: absolute;
  margin-left: 2em;
  margin-right: 2em;
}

.kart-start .kart-2 .dördüncü_bolum .yesil-bas-start {
  position: relative;
  width: 306px;
  height: 200px;
  top: -4.4em;
}

.kart-start .kart-2 .dördüncü_bolum .yesil-bas-kisim {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}

.kart-start .kart-2 .dördüncü_bolum .yesil-bas-kisim span {
  position: absolute;
  display: block;
  width: 220px;
  padding: 15px 0;
  background-color: #32b482;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transform: rotate(45deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 30px;
  right: -50px;
}

.kart-start .kart-2 .dördüncü_bolum .üçüncü-basliks {
  font-size: 27.9px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-top: -235px;
}

.kart-start .kart-2 .dördüncü_bolum .üçüncü_yazi {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0.7em;
  margin-right: 2em;
}

/* ikinci bölüm */

.kart-start .kart-2 .besinci_bolum {
  margin-top: 9em;
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  color: #4c4d5f;
}

.kart-start .kart-2 .besinci_bolum .dorduncu_basliks {
  margin-top: 2em;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-left: 1em;
}

.kart-start .kart-2 .besinci_bolum .dolar {
  color: #4c4d5f;
  font-size: 30px;
  margin-top: 1.6em;
}

.kart-start .kart-2 .besinci_bolum .dorduncu_basliks .num {
  margin-top: 1em;
  font-size: 55px;
  margin-left: -0.3em;
  font-weight: 600;
}

.kart-start .kart-2 .yesil {
  background-color: #00b289;
  width: 270px;
  height: 3px;
  margin-left: 1.3em;
}

/* ikinci bölüm */

.kart-start .kart-2 .altinci_bolum {
  margin-top: 2.7em;
  margin-left: 1.3em;
  color: #4c4d5f;
  font-weight: 500;
}

.kart-start .kart-2 .altinci_bolum .dorduncu_yazi {
  margin-left: 3em;
  margin-top: -3em;
  line-height: 3em;
}

.kart-start .kart-2 .altinci_bolum .fa {
  color: #00b289;
  margin-left: 1em;
  line-height: 3em;
}

/* buton bölümü */

.kart-start .kart-2 .buton_kart {
  margin-top: -12px;
  margin-left: 4em;
  background-color: #00b289;
  width: 200px;
  height: 50px;
  text-align: center;
}

.kart-start .kart-2 .buton_kart .buton-start {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* kart-3 bölüm */

.kart-start .kart-3 {
  width: 350px;
  height: 900px;
  background-color: #fff;
  border: 1px solid #a2a2a2;
  box-shadow: 5px 5px 5px #a2a2a2;
  position: relative;
  margin-bottom: 5em;
  margin-left: 2em;
}

.kart-start .kart-3 .yedinci_bolum {
  margin-top: 80px;
  position: absolute;
  margin-left: 2em;
  margin-right: 2em;
}

.kart-start .kart-3 .yedinci_bolum .besinci-basliks {
  font-size: 27.9px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: -8px;
}

.kart-start .kart-3 .yedinci_bolum .besinci_yazi {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0.7em;
  margin-right: 2em;
}

/* ikinci bölüm */

.kart-start .kart-3 .sekizinci_bolum {
  margin-top: 9em;
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  color: #4c4d5f;
}

.kart-start .kart-3 .sekizinci_bolum .altinci_basliks {
  margin-top: 2em;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-left: 1em;
}

.kart-start .kart-3 .sekizinci_bolum .dolar {
  color: #4c4d5f;
  font-size: 30px;
  margin-top: 1.6em;
}

.kart-start .kart-3 .sekizinci_bolum .altinci_basliks .num {
  margin-top: 1em;
  font-size: 55px;
  margin-left: -0.3em;
  font-weight: 600;
}

.kart-start .kart-3 .yesil {
  background-color: #00b289;
  width: 270px;
  height: 3px;
  margin-left: 1.3em;
}

/* ikinci bölüm */

.kart-start .kart-3 .dokuzuncu_bolum {
  margin-top: 2em;
  margin-left: 1.3em;
  color: #4c4d5f;
  font-weight: 500;
}

.kart-start .kart-3 .dokuzuncu_bolum .altinci_yazi {
  margin-left: 3em;
  margin-top: -2em;
  line-height: 1em;
}

.kart-start .kart-3 .dokuzuncu_bolum .fa {
  color: #00b289;
  margin-left: 1em;
  line-height: 3em;
  margin-top: 1em;
}

/* buton bölümü */

.kart-start .kart-3 .buton_kart {
  margin-top: 45px;
  margin-left: 4em;
  background-color: #00b289;
  width: 200px;
  height: 50px;
  text-align: center;
}

.kart-start .kart-3 .buton_kart .buton-start {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* ara yazi start */
.ara-yazi-start {
  margin-top: 30em;
  margin-left: 32em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ara-yazi-start .ara_yazi {
  font-size: 35px;
  font-weight: 400;
  color: #4c4d5f;
}

/* ara kart start */
.ara_kart_start {
  margin-top: 6em;
  margin-left: 20em;
  display: block;
}

.ara_kart_start .ara_kart1 {
  box-shadow: 5px 5px 10px #d0d0d0;
  width: 900px;
  height: 150px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.ara_kart_start .ara_kart1 .ara_yazi {
  margin-top: 3em;
  margin-left: 4em;
}

.ara_kart_start .ara_kart1 .ara_yazi .kalin {
  font-size: 24px;
  font-weight: 600;
  color: #4c4d5f;
}

.ara_kart_start .ara_kart1 .ara_yazi .ince {
  color: #4c4d5f;
  font-weight: 100;
  margin-top: 0.2em;
}

.ara_kart_start .ara_kart1 .yazi_disi {
  margin-right: 3em;
  margin-top: 2em;
  font-weight: bold;
  font-size: 32px;
  color: #4c4d5f;
}

.ara_kart_start .ara_kart2 {
  box-shadow: 5px 5px 10px #d0d0d0;
  width: 900px;
  height: 150px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7em;
}

.ara_kart_start .ara_kart2 .ara_yazi2 {
  margin-top: 3em;
  margin-left: 4em;
}

.ara_kart_start .ara_kart2 .ara_yazi2 .kalin2 {
  font-size: 24px;
  font-weight: 600;
  color: #4c4d5f;
}

.ara_kart_start .ara_kart2 .ara_yazi2 .ince2 {
  color: #4c4d5f;
  font-weight: 100;
  margin-top: 0.2em;
}

.ara_kart_start .ara_kart2 .yazi_disi2 {
  margin-right: 3em;
  margin-top: 1.3em;
  font-weight: bold;
  font-size: 38px;
  color: #4c4d5f;
  display: grid;
}

.ara_kart_start .ara_kart2 .yazi_disi2 .ince_1 {
  color: #4c4d5f;
  font-weight: 100;
  font-size: 14px;
  margin-top: -1em;
}

.ara_kart_start .ara_kart3 {
  box-shadow: 5px 5px 10px #d0d0d0;
  width: 900px;
  height: 150px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7em;
}

.ara_kart_start .ara_kart3 .ara_yazi3 {
  margin-top: 3em;
  margin-left: 4em;
}

.ara_kart_start .ara_kart3 .ara_yazi3 .kalin3 {
  font-size: 24px;
  font-weight: 600;
  color: #4c4d5f;
}

.ara_kart_start .ara_kart3 .ara_yazi3 .ince3 {
  color: #4c4d5f;
  font-weight: 100;
  margin-top: 0.2em;
}

.ara_kart_start .ara_kart3 .yazi_disi3 {
  margin-right: 3em;
  margin-top: 1.8em;
  font-weight: bold;
  font-size: 38px;
  display: grid;
  color: #4c4d5f;
}

.ara_kart_start .ara_kart3 .yazi_disi3 .ince_2 {
  color: #4c4d5f;
  font-weight: 100;
  font-size: 14px;
  margin-top: -1em;
}

.ara_kart3 .ara_yazi3 .link {
  color: #00b289;
  margin-top: 0.7em;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;

  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s, color 0.3s;
  position: relative;
}

.ara_kart3 .ara_yazi3 .link:hover {
  transform: scale(1.1);
}

.ara_kart3 .ara_yazi3 .link .fa {
  display: inline-block;
  transition: transform 0.3s;
}

.ara_kart3 .ara_yazi3 .link:hover .fa {
  transform: translateX(5px);
}

/* mavi yazı start */
.mavi_yazi-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110vh;
  height: 25vh;
  background-color: rgb(225, 236, 248);
  margin-top: 4.8em;
  margin-left: 23em;
  margin-bottom: 1em;
}

.mavi_yazi-start p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  color: #4c4d5f;
  margin-left: 1em;
}

.mavi_yazi-start .start-btn {
  margin-right: 5em;
  background-color: #00b289;
  width: 20vh;
  height: 7vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 17px;
  border-radius: 4px;
}

.mavi_yazi-start .start-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

/* son yazi start */

.son_yazi_start {
  width: 60%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 5em;
}

.son_yazi_start .buyuk_yazi {
  margin-left: 4.5em;
  font-size: 35px;
  color: #00b289;
  font-weight: 600;
  margin-bottom: 2em;
}

.faq-section {
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-bottom: 5em;
  margin-top: -2em;
}

.faq-item {
  font-weight: bold;
  color: #4c4d5f;
  font-size: 25px;
}

.faq-question {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  margin: 5px 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-top: none;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 1.4px;
  line-height: 2em;
}

.faq-answer.open {
  max-height: 200px; /* This should be larger than the actual content height */
  padding: 10px;
}

/* footer start */
.alt_kisim {
  margin-left: 25em;
  width: 60%;
  height: 100vh;
}

.alt_kisim .ilk_kisim_f {
  width: 40vh;
  height: 70vh;
}

.alt_kisim .ilk_kisim_f .one_1 {
  font-weight: 600;
  font-size: 23px;
  color: #4c4d5f;
}

.alt_kisim .ilk_kisim_f .one_1 li {
  list-style-type: none;
  font-size: 16.8px;
  font-weight: 100;
  line-height: 1.9em;
  color: #647075;
  font-family: "Proximanova opt", sans-serif;
}

.alt_kisim .ikinci_kisim_f {
  width: 40vh;
  height: 70vh;
  margin-top: -6em;
}

.alt_kisim .ikinci_kisim_f .yesil_f {
  font-weight: 100;
  font-size: 16px;
  color: #00b289;
}

.alt_kisim .ikinci_kisim_f .yesil_f li {
  list-style-type: none;
  font-size: 16.8px;
  font-weight: 100;
  line-height: 1.9em;
  color: #647075;
  font-family: "Proximanova opt", sans-serif;
}

.alt_kisim .ucuncu_kisim_f {
  width: 40vh;
  height: 70vh;
  margin-top: -57.8em;
  margin-left: 15em;
}

.alt_kisim .ucuncu_kisim_f .one_2 {
  font-weight: 600;
  font-size: 23px;
  color: #4c4d5f;
}

.alt_kisim .ucuncu_kisim_f .one_2 li {
  list-style-type: none;
  font-size: 16.8px;
  font-weight: 100;
  line-height: 2em;
  color: #647075;
  font-family: "Proximanova opt", sans-serif;
}

.alt_kisim .dorduncu_kisim_f {
  width: 40vh;
  height: 70vh;
  margin-top: -10em;
  margin-left: 15em;
}

.alt_kisim .dorduncu_kisim_f .one_3 {
  font-weight: 600;
  font-size: 23px;
  color: #4c4d5f;
}

.alt_kisim .dorduncu_kisim_f .one_3 li {
  list-style-type: none;
  font-size: 16.8px;
  font-weight: 100;
  line-height: 2em;
  color: #647075;
  font-family: "Proximanova opt", sans-serif;
}

.alt_kisim .besinci_kisim_f {
  width: 40vh;
  height: 70vh;
  margin-top: -53.5em;
  margin-left: 40em;
}

.alt_kisim .besinci_kisim_f .one_4 {
  font-weight: 600;
  font-size: 23px;
  color: #4c4d5f;
}

.alt_kisim .besinci_kisim_f .one_4 li {
  list-style-type: none;
  font-size: 16.8px;
  font-weight: 100;
  line-height: 2em;
  color: #647075;
  font-family: "Proximanova opt", sans-serif;
}
